*.lnk
Year 2/Semester II/CSU23021 - Microprocessor Systems/Code/build/
Year 3/Semester I/CSU34016 - Intro to Functional Programming/Exercises/*/.stack-work/
Year 3/Semester I/CSU33012 - Software Engineering/Git and GitHub part 2.pptx
Year 3/Semester II/TEU00072 - From Planets To The Cosmos/FPTTC.pdf